<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="container">
    <div class ="card shadow p-3 mb-5 bg-white rounded">
    <p><i class="fas fa-square"></i><b>  PLANS</b></p>

        <div class="container">
            <div class="row">
            <div class="col-4"><app-Trial></app-Trial></div>
            <div class="col-8"><app-Carosel></app-Carosel></div>
            </div>
        </div>
    
    </div>
</div>