
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 17rem; height:18em">
  <div class="card-body">
    <p class="card-title "><i class="fas fa-square"></i> ACCOUNT</p>
    
      <div class="con1">
      <p class="card-subtitle mb-2 title">Customer since </p>
      <p class="txt bld">04 Sep 2020</p>
      </div>

      
      <div class="con2">  
      <p class="card-subtitle mb-2 title">Full Name</p>
      <p class="txt underl bld">Zlate Ristovski</p>
      </div>
      <div class ="btnedit1">
      <button type="button" class="btn btn-info"><i class="fas fa-pencil-alt"></i> EDIT</button>
      </div>

      <div class="con3">
      <p class="card-subtitle mb-2 title">Name of Organization</p>
      <p class="txt underl bld">RelianSys Pty Ltd.</p>
      </div>

      <div class ="btnedit2">
      <button type="button" class="btn btn-info"><i class="fas fa-pencil-alt"></i> EDIT</button>
      </div>

      <div class="con4">
      <p class="card-subtitle mb-2 title">Super Administrator</p>
      <p class="txt underl bld">Jeff Ryall</p>
      </div>

      <div class ="btnedit3">
      <button type="button" class="btn btn-info"><i class="fas fa-pencil-alt"></i> EDIT</button>
      
    

  </div>

</div>